         <link href="../CSS/footer.css" rel="stylesheet">
         <footer class="footer">
            <div class="container">
                <div class="footer-info-left">
                    <div class="footer-info-left-question">
                        Have got any problems?
                    </div>
                    <div class="footer-info-left-email-number">
                       <a href="http://mail.adif.az">Email us - itsupport@adif.az</a>   
                    </div>
                </div>    
                <div class="footer-info-right">                  
                    <div class="footer-info-right-love">
                        Made with love by Information Technology Department
                    </div>
                    <div class="footer-info-right-copyrights">                        
                        <a href="./LoginView.jsp">Admin panel</a>  
                    </div>
                </div>
            </div>    
        </footer>   
    </body>
</html>
